<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Online Bookstore API Test Suite">
    <test name="Books API Tests">
        <classes>
            <class name="bookstore.tests.books.GetBooksApiTest"/>
            <class name="bookstore.tests.books.GetBookByIdApiTest"/>
            <class name="bookstore.tests.books.PostBooksApiTest"/>
            <class name="bookstore.tests.books.PutBooksApiTest"/>
            <class name="bookstore.tests.books.DeleteBooksApiTest"/>
            <class name="bookstore.tests.authors.GetAuthorsApiTest"/>
            <class name="bookstore.tests.authors.GetAuthorByIdApiTest"/>
        </classes>
    </test>
</suite>