<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Online Bookstore API Test Suite">
    <test name="Books API Tests">
        <classes>
            <class name="bookstore.tests.books.GetBooksApiTest"/>
            <class name="bookstore.tests.books.GetBookByIdApiTest"/>
            <class name="bookstore.tests.books.PostBooksApiTest"/>
            <class name="bookstore.tests.books.PutBooksApiTest"/>
            <class name="bookstore.tests.books.DeleteBooksApiTest"/>
        </classes>
    </test>
    <test name="Authors API Tests">
        <classes>
            <class name="bookstore.tests.authors.GetAuthorsApiTest"/>
            <class name="bookstore.tests.authors.GetAuthorByIdApiTest"/>
            <class name="bookstore.tests.authors.GetAuthorByBookIdApiSpec"/>
            <class name="bookstore.tests.authors.PostAuthorApiTest"/>
            <class name="bookstore.tests.authors.PutAuthorApiTest"/>
            <class name="bookstore.tests.authors.DeleteAuthorApiTest"/>
        </classes>
    </test>
</suite>