<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Online Bookstore API Test Suite">
    <test name="Books API Tests">
        <classes>
            <class name="bookstore.tests.books.GetBooksApiTest"/>
            <class name="bookstore.tests.books.GetBooksByIdApiTest"/>
            <class name="bookstore.tests.books.PostBooksApiTest"/>
            <class name="bookstore.tests.books.PutBooksApiTest"/>
            <class name="bookstore.tests.books.DeleteBooksApiTest"/>
        </classes>
    </test>
    <test name="Authors API Tests">
        <classes>
            <class name="bookstore.tests.authors.GetAuthorsApiTest"/>
            <class name="bookstore.tests.authors.GetAuthorsByIdApiTest"/>
            <class name="bookstore.tests.authors.GetAuthorsByBookIdApiSpec"/>
            <class name="bookstore.tests.authors.PostAuthorsApiTest"/>
            <class name="bookstore.tests.authors.PutAuthorsApiTest"/>
            <class name="bookstore.tests.authors.DeleteAuthorsApiTest"/>
        </classes>
    </test>
</suite>